<div class="sidebar-wrapper colum">
    <h1 class="brand-name row align-center justify-center">
        club Bombay
    </h1>
    <nav class="navbar grow-1">
        <ul class="navbar-list"> 
            <li class="navbar-items"><a href="#"> Dashboard</a></li>
            <li class="navbar-items"><a href="#">Fighters</a></li>
            <li class="navbar-items"><a href="#">Timetable</a></li>
            <li class="navbar-items"><a href="#">Workout routin</a></li>
            <li class="navbar-items"><a href="#">Nutretion Plan</a></li>
        </ul>
    </nav>

</div>
