<div class="w-100">
    <form [formGroup] ="customerForm">
        <div class="row mb-3">
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="firstname" placeholder="Enter First Name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="lastname" placeholder="Enter last Name">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10">
                <input type="email" class="form-control" formControlName="email" placeholder="Enter your Email">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10">
                <input type="text" class="form-control" formControlName="phone" placeholder="Enter your Phone Number">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10">
                <label for="gender">Gender:</label>
                <input type="radio" id="gender" class="form-control" value="male" formControlName="gender"> <label for="male">Male</label>
                <input type="radio" id="gender" class="form-control" value="female" formControlName="gender"><label for="Female">Female</label>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10">
                <label for="Date">Date of purchase</label>
                <input type="date" formControlName="date" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-10">
                <select id="categaries" class="select-categaroies w-100" formControlName="category">
                    <option selected>Select category</option>
                    <option></option>
                </select>
            </div>
        </div>
        {{customerlist | json}}
        <button type="submit" class="btn btn-primary" (click)="saveCustomerData()">Add Data</button>
    </form>
</div>