//font-colors
$font-color-primary:#747b8a;
$font-color-white:#ffffff;

//background-colors
$bg-color-primary:#15181b;
$bg-color-secondary:#1d2329;

//Linear Gradient color
$gradient-start:#252b39;
$gradient-end:#1c1f22;