<div class=" d-flex justify-content-around p-2">
    <input type="text" class="w-50" placeholder="search">
    <button type="button" class="btn btn-primary">Add Details</button>
</div>
<div class="w-100">
    <table class="table">
        <thead class="table-light">
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Gender</th>
            <th>Date</th>
            <th>category</th>
        </thead>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
      </table>
</div>